authorization_details in token request

I think it would make sense to add authorization_details to allow the client to narrow down the privileges associated with an access token. For example, if the client got granted access to 2 bank accounts, it could ask the AS to mint a token good for one of those accounts only.


A few thoughts:

-03 already has the following and maybe needs to better differentiate between token requests that work off of previously granted consent (e.g. code, refresh, urn:openid:params:grant-type:ciba, urn:ietf:params:oauth:grant-type:device_code) and token requests that are also authorization requests or have implied consent (e.g. client creds, ropc, jwt/saml assertion, token-exchange). 

> 3.1. Authorization Request
> The request parameter can be used to specify authorization requirements in all places where the scope parameter is used for the same purpose, examples include:
> 
> * Authorization requests as specified in [RFC6749],
> * Access token requests as specified in [RFC6749], if also used as authorization requests, e.g. in the case of assertion grant types [RFC7521],
> * Request objects as specified in [I-D.ietf-oauth-jwsreq],
> * Device Authorization Request as specified in [RFC8628],
> * Backchannel Authentication Requests as defined in [OpenID.CIBA].


Narrowing down the privileges associated with an access token seem to be applicable to token requests that work off of previously granted consent (and only make sense when a refesh token is involved?). The draft currently talks about using the `resource` parameter as a filter matching off of `locations` in `authorization_details` as a means for narrowing down the privileges associated with a particular access token. Which makes some sense but maybe isn't the best way to do it. Maybe. I don't know. I do think, however, that having more than one way to do the downscoping might get problematic. And I worry about the difficulty of using authorization_details to do downscoping because it will seemingly require comparison of chunks of JSON data. 

You are right, I was thinking about token requests that work off of previously granted consent.

I understand your sentiments. Unfortunately, "resource" while allowing tailoring of access tokens for a certain resource server it does not allow true downscoping. 

The alternative solution would be to downscope access tokens using the authorization_details parameter only. But I don't think we should go that way, using "resource" as filter is so nice and simple. On the other hand I don't want to preclude the option for downscoping on the level of authorization_details details.

I guess my concern with using authorization_details for downscoping is that I have no idea how one could reasonably implement it as you'd have to compare for some value of scope of access both the syntax and semantics of chunks of JSON. 

I can imagine generic rules for the common data elements, like actions, but in general, downscoping using authz details will be type specific. For example the account information type would potentially support to downscope the actions (generic) but also to limit the concrete accounts (tyoe specific).

added parameter with PR #66 